# Bibliotecas

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

      ordem linha  latitude  longitude  velocidade             dataHora
0    B27110   629 -22.81708  -43.30197           0  10-18-2022 06:39:01
1    D13337   926 -22.87629  -43.41932           0  10-18-2022 09:46:08
2    B32711   457 -22.81767  -43.39321           0  10-18-2022 09:57:28
3    B10023   328 -22.82270  -43.23016          51  10-18-2022 10:50:18
4    B28543   324 -22.90242  -43.18176           0  10-18-2022 11:52:41
..      ...   ...       ...        ...         ...                  ...
128  B32656   342 -22.81674  -43.39421           0  10-18-2022 23:51:12
129  A48122   202 -22.91425  -43.27314          45  10-18-2022 23:54:30
130  D53613       -22.88339  -43.49540           6  10-18-2022 23:56:29
131  A48001   415 -22.91074  -43.27000           0  10-18-2022 23:57:12
132  C41381   315 -22.87482  -43.24088           0  10-18-2022 23:57:22

[133 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,B27110,629,Caprichosa Auto Ônibus Ltda,-22.81708,-43.30197,0,2022-10-18 06:39:01,2022-10-18 03:39:01-03:00
1,D13337,926,Transportes Barra Ltda,-22.87629,-43.41932,0,2022-10-18 09:46:08,2022-10-18 06:46:08-03:00
2,B32711,457,Viação Pavuenense S/A,-22.81767,-43.39321,0,2022-10-18 09:57:28,2022-10-18 06:57:28-03:00
3,B10023,328,Transportes Paranapuan S/A,-22.82270,-43.23016,51,2022-10-18 10:50:18,2022-10-18 07:50:18-03:00
4,B28543,324,Viação Ideal S/A,-22.90242,-43.18176,0,2022-10-18 11:52:41,2022-10-18 08:52:41-03:00
...,...,...,...,...,...,...,...,...
127,C30197,565,Transportes Futuro Ltda,-22.92575,-43.31518,0,2022-10-18 23:49:37,2022-10-18 20:49:37-03:00
128,B32656,342,Viação Pavuenense S/A,-22.81674,-43.39421,0,2022-10-18 23:51:12,2022-10-18 20:51:12-03:00
129,A48122,202,Auto Viação Alpha S/A,-22.91425,-43.27314,45,2022-10-18 23:54:30,2022-10-18 20:54:30-03:00
130,A48001,415,Auto Viação Alpha S/A,-22.91074,-43.27000,0,2022-10-18 23:57:12,2022-10-18 20:57:12-03:00
131,C41381,315,Real Auto Ônibus Ltda,-22.87482,-43.24088,0,2022-10-18 23:57:22,2022-10-18 20:57:22-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,B27110,629,Caprichosa Auto Ônibus Ltda,-22.81708,-43.30197,0,03:39:01,18/10/2022
1,D13337,926,Transportes Barra Ltda,-22.87629,-43.41932,0,06:46:08,18/10/2022
2,B32711,457,Viação Pavuenense S/A,-22.81767,-43.39321,0,06:57:28,18/10/2022
3,B10023,328,Transportes Paranapuan S/A,-22.82270,-43.23016,51,07:50:18,18/10/2022
4,B28543,324,Viação Ideal S/A,-22.90242,-43.18176,0,08:52:41,18/10/2022
...,...,...,...,...,...,...,...,...
127,C30197,565,Transportes Futuro Ltda,-22.92575,-43.31518,0,20:49:37,18/10/2022
128,B32656,342,Viação Pavuenense S/A,-22.81674,-43.39421,0,20:51:12,18/10/2022
129,A48122,202,Auto Viação Alpha S/A,-22.91425,-43.27314,45,20:54:30,18/10/2022
130,A48001,415,Auto Viação Alpha S/A,-22.91074,-43.27000,0,20:57:12,18/10/2022
131,C41381,315,Real Auto Ônibus Ltda,-22.87482,-43.24088,0,20:57:22,18/10/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(2).minutes.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)