<h1>Bibliotecas</h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
df = pd.read_csv (r'C:\Users\Gabriel\Documents\dashboard_panel_dados\treatedBusDataOnlyRoute.csv')  
df

                date      time   order   line   latitude  longitude  speed
0         01-25-2019  08:50:39  C51623  371.0 -22.883270 -43.342560   37.0
1         01-25-2019  08:55:43  C51556  371.0 -22.887461 -43.282730    8.0
2         01-25-2019  08:56:37  C51641  371.0 -22.884029 -43.342510   19.0
3         01-25-2019  08:57:24  C51649  371.0 -22.881630 -43.293240   15.0
4         01-25-2019  08:57:27  C51561  371.0 -22.907370 -43.237610   13.0
...              ...       ...     ...    ...        ...        ...    ...
59183740  03-21-2019  08:35:04  D13122  383.0 -22.905149 -43.269329    0.0
59183741  03-21-2019  08:35:06  D13054  383.0 -22.916090 -43.230110    0.0
59183742  03-21-2019  08:35:08  D13076  383.0 -22.882780 -43.345970   42.0
59183743  03-21-2019  08:35:12  D13330  383.0 -22.903990 -43.278610   27.0
59183744  03-21-2019  08:35:23  D13018  383.0 -22.890471 -43.424801    0.0

[59183745 rows x 7 columns]

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/base_transporte'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(6).seconds.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)