<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Criando um Dataframe Parcial
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,D13017,803,Transportes Barra Ltda,-22.87552,-43.41955,0,2022-06-09 00:42:23,2022-06-08 21:42:23-03:00
1,C30074,SP343,Transportes Futuro Ltda,-22.95203,-43.34802,0,2022-06-09 02:55:36,2022-06-08 23:55:36-03:00
2,C30294,343,Transportes Futuro Ltda,-22.95123,-43.34848,0,2022-06-09 03:25:09,2022-06-09 00:25:09-03:00
3,C47839,550,Viação Redentor Ltda,-22.95196,-43.34856,0,2022-06-09 03:45:42,2022-06-09 00:45:42-03:00
4,C47576,555,Viação Redentor Ltda,-22.95333,-43.35101,0,2022-06-09 03:54:09,2022-06-09 00:54:09-03:00
...,...,...,...,...,...,...,...,...
3489,B11584,378,Viação Vila Real S/A,-22.86001,-43.36993,16,2022-06-09 13:28:03,2022-06-09 10:28:03-03:00
3490,B11536,362,Viação Vila Real S/A,-22.84458,-43.24979,7,2022-06-09 13:28:04,2022-06-09 10:28:04-03:00
3491,B11550,665,Viação Vila Real S/A,-22.92099,-43.22807,31,2022-06-09 13:28:04,2022-06-09 10:28:04-03:00
3492,B11540,362,Viação Vila Real S/A,-22.81649,-43.28758,55,2022-06-09 13:28:05,2022-06-09 10:28:05-03:00
3493,B11578,363,Viação Vila Real S/A,-22.91005,-43.21971,28,2022-06-09 13:28:05,2022-06-09 10:28:05-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,D13017,803,Transportes Barra Ltda,-22.87552,-43.41955,0,21:42:23,08/06/2022
1,C30074,SP343,Transportes Futuro Ltda,-22.95203,-43.34802,0,23:55:36,08/06/2022
2,C30294,343,Transportes Futuro Ltda,-22.95123,-43.34848,0,00:25:09,09/06/2022
3,C47839,550,Viação Redentor Ltda,-22.95196,-43.34856,0,00:45:42,09/06/2022
4,C47576,555,Viação Redentor Ltda,-22.95333,-43.35101,0,00:54:09,09/06/2022
...,...,...,...,...,...,...,...,...
3489,B11584,378,Viação Vila Real S/A,-22.86001,-43.36993,16,10:28:03,09/06/2022
3490,B11536,362,Viação Vila Real S/A,-22.84458,-43.24979,7,10:28:04,09/06/2022
3491,B11550,665,Viação Vila Real S/A,-22.92099,-43.22807,31,10:28:04,09/06/2022
3492,B11540,362,Viação Vila Real S/A,-22.81649,-43.28758,55,10:28:05,09/06/2022
3493,B11578,363,Viação Vila Real S/A,-22.91005,-43.21971,28,10:28:05,09/06/2022

In [5]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3438 entries, 0 to 3493
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3438 non-null   object
 1   linha       3438 non-null   object
 2   empresa     3438 non-null   object
 3   latitude    3438 non-null   float64
 4   longitude   3438 non-null   float64
 5   velocidade  3438 non-null   int64
 6   horario     3438 non-null   object
 7   data        3438 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 241.7+ KB

In [6]:
#Lista com as linhas de ônibus não duplicadas

dfFinal['linha'].unique()

# Exportação Excel Linhas mão duplicadas

# X=dfFinal['linha'].unique()
# DFLINHA= pd.DataFrame(list(zip(X)),columns=['ordem'])
# df_excel=DFLINHA
# df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\linha.xlsx', index = False, header=True)

array(['803', 'SP343', '343', '550', '555', '779', '383', '945', '900',
       '766', '507', '2343', '622', '298', '557', '919', '793', '615',
       '2303', '817', '554', '565', '361', '794', '795', '804', '461',
       '2803', '583', '2336', '606', '954', '315', '102', '600', '553',
       '483', '247', '746', '610', '292', '472', '474', '107', '300',
       '394', '433', '362', '321', '368', '355', '350', '328', '2345',
       '810', '601', '2335', '770', '2337', '399', '821', '712', '473',
       '2383', '460', '397', '721', '309', '771', '852', '232', '607',
       '685', '638', '476', 'SV774', '918', '2802', 'SP513', '688', '539',
       '485', '2307', '324', '326', '2339', '630', '463', '2310', '731',
       'SP805', '629', '329', '2334', '105', '665', '341', '905', '393',
       '849', '783', '202', 'SV790', '866', '181', '378', '833', '869',
       '2381', '864', '878', '842', '209', '812', '249', 'SV908', '692',
       '639', '302', '325', '342', '774', 'SP404', '497', '908', '838',
       '891', '100', '696', '822', '386', '265', '323', '2111', '2338',
       '853', '861', '335', '840', '608', '220', '777', '390', '775',
       '880', '884', '457', '217', '926', '584', '448', '881', '790',
       '415', '624', '2344', '133', '898', '552', '112', '875', '917',
       '616', '913', '312', '422', '613', '936', '455', '371', '920',
       '426', '412', '863', '645', '409', '835', '679', '2114', '805',
       '117', '759', '006', '007', '384', '238', '210', '950', '2110',
       '745', '498', '778', '867', 'SV474', '910', '369', '756', '868',
       '385', '621', '636', '802', 'SV606', '306', '611', '296', '416',
       '625', '623', 'SVA665', '110', '628', '313', '687', '711', '104',
       '201', '634', '650', 'SV917', '841', '846', '441', 'LECD36', '275',
       'SV779', '363', '627', '786', '819', '893', '108', '327', '848',
       '892', '691', '2804', '492', '906', '870', '897', '843', 'SP841',
       '862', '801', '837', '2332', 'SP265', 'SV232', '348', 'SP613',
       '2112', '871', '836', '883', '925', '944', '847', 'SV866', '538',
       '432', '548', '829', '443', '752', 'SP361', 'SVA685', '2342',
       '614', '845', '484', '834', '851', 'SP553', '353', '379', '946',
       '859', '923', '940', '014', '439', '922', '239'], dtype=object)

<h1>Dataframe Velocidade por linhas de ônibus</h1>

In [7]:
## Daframe Velocidade por linhas de ônibus


#Filtros de Velocidade Por Linha

linha770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])
L770=linha770.rename(columns={'velocidade':'Linha770'})

#Conversão dos Filtros para lista

X1=L770['Linha770'].tolist()

#Dataframe Velocidade
df = pd.DataFrame({
    
    'LINHA770': pd.Series(X1,dtype='float64')
    
})

df_velocidade_linhas=df.replace(np.nan, 0)
df_velocidade_linhas

   LINHA770
0      14.0
1      23.0
2      41.0
3      45.0
4      23.0
5      24.0
6      16.0
7      37.0
8       2.0
9      33.0

<h1>Implementação Gráfico de X-BARRA E R</h1>

In [8]:
# #Teste Ousado 
# import matplotlib.pyplot as plt
# import statistics

# data= pd.read_excel(r"C:\Users\Gabriel\Desktop\Mestrado\ousadia.xlsx")  

# #substitui nan por zero;
# dataf= data.replace(np.nan, 0)

# x = np.array(dataf[['X1','X2','X3','X4']])

# # Define list variable for groups means
# x_bar = []

# # Define list variable for groups ranges
# r = [] 

# # Get and append groups means and ranges
# for group in x:
#     x_bar.append(group.mean())
#     r.append(group.max() - group.min())
    
# # Plot x-bar and R charts
# fig, axs = plt.subplots(2, figsize=(15,15))

# # x-bar chart
# axs[0].plot(x_bar, linestyle='-', marker='o', color='black')
# axs[0].axhline((statistics.mean(x_bar)+0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)-0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)), color='blue')
# axs[0].set_title('x-bar Chart')
# axs[0].set(xlabel='Group', ylabel='Mean')

# # R chart
# axs[1].plot(r, linestyle='-', marker='o', color='black')
# axs[1].axhline((2.574*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((0*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((statistics.mean(r)), color='blue')
# axs[1].set_ylim(bottom=0)
# axs[1].set_title('R Chart')
# axs[1].set(xlabel='Group', ylabel='Range')

# # Validate points out of control limits for x-bar chart
# i = 0
# control = True
# for group in x_bar:
#     if group > statistics.mean(x_bar)+0.577*statistics.mean(r) or group < statistics.mean(x_bar)-0.577*statistics.mean(r):
#         print('Group', i, 'out of mean control limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')
    
# # Validate points out of control limits for R chart
# i = 0
# control = True
# for group in r:
#     if group > 2.574*statistics.mean(r):
#         print('Group', i, 'out of range cotrol limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')