<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [53]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Criando um Dataframe Parcial
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,D13190,383,Transportes Barra Ltda,-22.87632,-43.42014,0,2022-06-03 01:19:24,2022-06-02 22:19:24-03:00
1,B32820,665,Viação Pavuenense S/A,-22.81605,-43.39466,0,2022-06-03 02:33:14,2022-06-02 23:33:14-03:00
2,C47664,880,Viação Redentor Ltda,-22.97870,-43.32630,42,2022-06-03 04:06:16,2022-06-03 01:06:16-03:00
3,C13039,878,Transportes Barra Ltda,-22.87991,-43.35764,0,2022-06-03 07:08:42,2022-06-03 04:08:42-03:00
4,C47673,368,Viação Redentor Ltda,-22.91990,-43.29454,65,2022-06-03 07:58:17,2022-06-03 04:58:17-03:00
...,...,...,...,...,...,...,...,...
3514,B71131,238,Viação Verdun S/A,-22.89948,-43.28070,0,2022-06-03 17:44:03,2022-06-03 14:44:03-03:00
3515,B71033,247,Viação Verdun S/A,-22.90511,-43.26867,0,2022-06-03 17:44:04,2022-06-03 14:44:04-03:00
3516,B71028,455,Viação Verdun S/A,-22.90312,-43.24694,17,2022-06-03 17:44:05,2022-06-03 14:44:05-03:00
3517,B71141,238,Viação Verdun S/A,-22.90424,-43.29720,18,2022-06-03 17:44:06,2022-06-03 14:44:06-03:00
3518,B71157,247,Viação Verdun S/A,-22.91063,-43.21734,48,2022-06-03 17:44:07,2022-06-03 14:44:07-03:00

In [54]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfFinal= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,D13190,383,Transportes Barra Ltda,-22.87632,-43.42014,0,22:19:24,02/06/2022
1,B32820,665,Viação Pavuenense S/A,-22.81605,-43.39466,0,23:33:14,02/06/2022
2,C47664,880,Viação Redentor Ltda,-22.97870,-43.32630,42,01:06:16,03/06/2022
3,C13039,878,Transportes Barra Ltda,-22.87991,-43.35764,0,04:08:42,03/06/2022
4,C47673,368,Viação Redentor Ltda,-22.91990,-43.29454,65,04:58:17,03/06/2022
...,...,...,...,...,...,...,...,...
3514,B71131,238,Viação Verdun S/A,-22.89948,-43.28070,0,14:44:03,03/06/2022
3515,B71033,247,Viação Verdun S/A,-22.90511,-43.26867,0,14:44:04,03/06/2022
3516,B71028,455,Viação Verdun S/A,-22.90312,-43.24694,17,14:44:05,03/06/2022
3517,B71141,238,Viação Verdun S/A,-22.90424,-43.29720,18,14:44:06,03/06/2022
3518,B71157,247,Viação Verdun S/A,-22.91063,-43.21734,48,14:44:07,03/06/2022

In [50]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3523 entries, 0 to 3522
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3523 non-null   object
 1   linha       3523 non-null   object
 2   empresa     3523 non-null   object
 3   latitude    3523 non-null   float64
 4   longitude   3523 non-null   float64
 5   velocidade  3523 non-null   int64
 6   horario     3523 non-null   object
 7   data        3523 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 220.3+ KB

In [52]:
dfFinal.query("(linha=='770') and (velocidade!=0)")

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
355,D17151,770,Auto Viação Palmares Ltda,-22.90155,-43.55739,5,13:07:52,03/06/2022
1054,D17134,770,Auto Viação Palmares Ltda,-22.86323,-43.43976,3,13:21:09,03/06/2022
1055,D17191,770,Auto Viação Palmares Ltda,-22.97026,-43.61600,53,13:21:09,03/06/2022
1831,D17168,770,Auto Viação Palmares Ltda,-22.83192,-43.34353,12,13:21:24,03/06/2022
2757,D17163,770,Auto Viação Palmares Ltda,-22.83117,-43.35072,5,13:21:37,03/06/2022
2821,D17161,770,Auto Viação Palmares Ltda,-22.86227,-43.44497,2,13:21:38,03/06/2022
2877,D17134,770,Auto Viação Palmares Ltda,-22.86359,-43.43768,29,13:21:39,03/06/2022
2878,D17191,770,Auto Viação Palmares Ltda,-22.96825,-43.61956,52,13:21:39,03/06/2022