<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Criando um Dataframe Parcial
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,C13100,338,Transportes Barra Ltda,-22.88101,-43.35817,0,2022-06-08 01:27:43,2022-06-07 22:27:43-03:00
1,C30314,557,Transportes Futuro Ltda,-22.95024,-43.34843,0,2022-06-08 04:16:55,2022-06-08 01:16:55-03:00
2,D87117,868,Expresso Pégasso Ltda,-22.91715,-43.60838,0,2022-06-08 05:05:49,2022-06-08 02:05:49-03:00
3,B32503,795,Viação Pavuenense S/A,-22.81650,-43.39435,0,2022-06-08 05:09:38,2022-06-08 02:09:38-03:00
4,B27064,905,Caprichosa Auto Ônibus Ltda,-22.81728,-43.30228,0,2022-06-08 06:12:16,2022-06-08 03:12:16-03:00
...,...,...,...,...,...,...,...,...
3505,A71600,409,Viação Nossa Senhora das Graças Ltda,-22.91642,-43.20951,0,2022-06-08 13:58:02,2022-06-08 10:58:02-03:00
3506,A71591,409,Viação Nossa Senhora das Graças Ltda,-22.96665,-43.23585,1,2022-06-08 13:58:03,2022-06-08 10:58:03-03:00
3507,B71117,457,Viação Verdun S/A,-22.88615,-43.28912,0,2022-06-08 13:58:03,2022-06-08 10:58:03-03:00
3508,A71571,100,Viação Nossa Senhora das Graças Ltda,-22.90440,-43.19151,0,2022-06-08 13:58:04,2022-06-08 10:58:04-03:00
3509,B71135,457,Viação Verdun S/A,-22.97118,-43.18911,0,2022-06-08 13:58:04,2022-06-08 10:58:04-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfFinal= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,C13100,338,Transportes Barra Ltda,-22.88101,-43.35817,0,22:27:43,07/06/2022
1,C30314,557,Transportes Futuro Ltda,-22.95024,-43.34843,0,01:16:55,08/06/2022
2,D87117,868,Expresso Pégasso Ltda,-22.91715,-43.60838,0,02:05:49,08/06/2022
3,B32503,795,Viação Pavuenense S/A,-22.81650,-43.39435,0,02:09:38,08/06/2022
4,B27064,905,Caprichosa Auto Ônibus Ltda,-22.81728,-43.30228,0,03:12:16,08/06/2022
...,...,...,...,...,...,...,...,...
3505,A71600,409,Viação Nossa Senhora das Graças Ltda,-22.91642,-43.20951,0,10:58:02,08/06/2022
3506,A71591,409,Viação Nossa Senhora das Graças Ltda,-22.96665,-43.23585,1,10:58:03,08/06/2022
3507,B71117,457,Viação Verdun S/A,-22.88615,-43.28912,0,10:58:03,08/06/2022
3508,A71571,100,Viação Nossa Senhora das Graças Ltda,-22.90440,-43.19151,0,10:58:04,08/06/2022
3509,B71135,457,Viação Verdun S/A,-22.97118,-43.18911,0,10:58:04,08/06/2022

In [5]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510 entries, 0 to 3509
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3510 non-null   object
 1   linha       3510 non-null   object
 2   empresa     3510 non-null   object
 3   latitude    3510 non-null   float64
 4   longitude   3510 non-null   float64
 5   velocidade  3510 non-null   int64
 6   horario     3510 non-null   object
 7   data        3510 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 219.5+ KB

In [6]:
dfFinal['linha'].unique()

array(['338', '557', '868', '795', '905', '2307', '600', '107', '565',
       '954', '112', '386', '292', '945', '803', '2336', '583', '102',
       '636', '615', '461', '770', '432', '804', '801', '484', '348',
       '639', '851', '315', '474', '433', '355', '665', '300', '900',
       '472', '383', '821', '460', '2114', '805', '880', '321', '328',
       '485', '794', '2111', '746', '550', '341', '607', '645', '312',
       '692', '920', '793', '100', '371', '584', '846', '483', '552',
       '608', '302', '2303', '324', '835', '2335', '892', '2802', '2337',
       '497', 'SP404', '627', '685', '397', '838', '309', '774', '783',
       '473', '629', '378', '553', '840', '2345', '906', '919', '790',
       '2803', '108', '810', '110', '866', '329', '766', '688', '922',
       '2343', '779', '2383', '2381', '2334', '2310', '463', '638',
       '2339', '893', '2344', '819', '918', '680', '326', '759', '306',
       '492', 'SP513', '350', '2804', '105', '2338', '384', '202', '833',
       '712', '721', '210', '777', 'SV774', '220', '878', '342', '771',
       '325', '812', '864', '298', '696', '2342', '539', '883', 'SV474',
       '891', '802', '950', '232', '393', '426', '870', '399', '853',
       '476', '007', '731', '247', '616', '415', '554', '953', '861',
       'LECD36', '908', '859', '362', '613', '822', '863', '422', '745',
       '691', '841', '409', '390', '217', '756', '368', '852', '181',
       '538', '249', '443', '936', '457', '209', '817', '862', '622',
       '711', '634', '416', '296', '343', '881', '363', '507', 'SP613',
       '775', '323', '606', '630', 'SP841', '926', 'SVA665', '014', '917',
       '498', '455', '884', '448', 'SV917', '239', '335', '623', '369',
       '327', '611', '117', '412', '275', '610', '361', '265', '625',
       '104', '663', '006', '313', '910', '614', '601', '940', 'SV866',
       '441', '871', '621', '624', '650', '687', '679', '897', '555',
       '628', '867', '394', '837', '723', '848', '923', '548', '843',
       '845', '849', '353', 'SV606', '869', '847', 'SV779', 'SV790',
       '2112', '834', '752', '925', '895', 'SP553', '829', '201', '786',
       '836', '2110', '379', 'SP265', '133', '946', '778', '238', 'SV232',
       '842', '896', '913', '875', 'SPC613', 'SV908'], dtype=object)

<h1>Construção Dataframe Velocidade</h1>

In [7]:
## Filtro para o daframe das Velocidades

#dfFinal.query("(linha=='770') and (velocidade!=0)")
#df770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])

linha770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])
L770=linha770.rename(columns={'velocidade':'Linha770'})

df_excel=L770
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L770.xlsx', index = False, header=True)

In [8]:
linha554=(dfFinal.loc[(dfFinal['linha']=="554") & (dfFinal['velocidade']!=0),['velocidade']])
L554=linha554.rename(columns={'velocidade':'Linha554'})

df_excel=L554
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L554.xlsx', index = False, header=True)

In [9]:
linha878=(dfFinal.loc[(dfFinal['linha']=="878") & (dfFinal['velocidade']!=0),['velocidade']])
L878=linha878.rename(columns={'velocidade':'Linha878'})

df_excel=L878
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L878.xlsx', index = False, header=True)

<h1>Implementação Gráfico de X-BARRA E R</h1>

In [46]:
# #Teste Ousado 
# import matplotlib.pyplot as plt
# import statistics

# data= pd.read_excel(r"C:\Users\Gabriel\Desktop\Mestrado\ousadia.xlsx")  

# #substitui nan por zero;
# dataf= data.replace(np.nan, 0)

# x = np.array(dataf[['X1','X2','X3','X4']])

# # Define list variable for groups means
# x_bar = []

# # Define list variable for groups ranges
# r = [] 

# # Get and append groups means and ranges
# for group in x:
#     x_bar.append(group.mean())
#     r.append(group.max() - group.min())
    
# # Plot x-bar and R charts
# fig, axs = plt.subplots(2, figsize=(15,15))

# # x-bar chart
# axs[0].plot(x_bar, linestyle='-', marker='o', color='black')
# axs[0].axhline((statistics.mean(x_bar)+0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)-0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)), color='blue')
# axs[0].set_title('x-bar Chart')
# axs[0].set(xlabel='Group', ylabel='Mean')

# # R chart
# axs[1].plot(r, linestyle='-', marker='o', color='black')
# axs[1].axhline((2.574*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((0*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((statistics.mean(r)), color='blue')
# axs[1].set_ylim(bottom=0)
# axs[1].set_title('R Chart')
# axs[1].set(xlabel='Group', ylabel='Range')

# # Validate points out of control limits for x-bar chart
# i = 0
# control = True
# for group in x_bar:
#     if group > statistics.mean(x_bar)+0.577*statistics.mean(r) or group < statistics.mean(x_bar)-0.577*statistics.mean(r):
#         print('Group', i, 'out of mean control limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')
    
# # Validate points out of control limits for R chart
# i = 0
# control = True
# for group in r:
#     if group > 2.574*statistics.mean(r):
#         print('Group', i, 'out of range cotrol limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')