<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [6]:
## Dataframe Origenal
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']

#Datas e Horas
datastring=json['dataHora'].str.slice(0,10).astype('datetime64[ns]')
data=datastring.dt.strftime('%d/%m/%Y')
hora=json['dataHora'].str.slice(11,19)
dataHora=json['dataHora'].astype('datetime64[ns]')

df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,data,hora,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','data','hora','dataHora'])

df2

,ordem,linha,empresa,latitude,longitude,velocidade,data,hora,dataHora
0,C47838,613,Viação Redentor Ltda,-22.88006,-43.35704,2,02/06/2022,04:35:46,2022-06-02 04:35:46
1,B27136,629,Caprichosa Auto Ônibus Ltda,-22.81701,-43.30217,6,02/06/2022,05:19:05,2022-06-02 05:19:05
2,C47607,368,Viação Redentor Ltda,-22.95253,-43.34879,0,02/06/2022,06:05:16,2022-06-02 06:05:16
3,C47942,2110,Viação Redentor Ltda,-22.88035,-43.35725,0,02/06/2022,08:40:31,2022-06-02 08:40:31
4,C50209,810,Tijuquinha - Auto Viação Tijuca S/A,-22.99835,-43.36748,58,02/06/2022,09:36:30,2022-06-02 09:36:30
...,...,...,...,...,...,...,...,...,...
3537,B71149,455,Viação Verdun S/A,-22.90475,-43.27336,35,02/06/2022,20:24:00,2022-06-02 20:24:00
3538,A71617,100,Viação Nossa Senhora das Graças Ltda,-22.90421,-43.17749,1,02/06/2022,20:24:01,2022-06-02 20:24:01
3539,B71051,247,Viação Verdun S/A,-22.90405,-43.27594,0,02/06/2022,20:24:01,2022-06-02 20:24:01
3540,B71113,457,Viação Verdun S/A,-22.89982,-43.28081,18,02/06/2022,20:24:01,2022-06-02 20:24:01
3541,B71075,457,Viação Verdun S/A,-22.90323,-43.24657,21,02/06/2022,20:24:02,2022-06-02 20:24:02

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3542 entries, 0 to 3541
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3542 non-null   object
 1   linha       3542 non-null   object
 2   empresa     3542 non-null   object
 3   latitude    3542 non-null   float64
 4   longitude   3542 non-null   float64
 5   velocidade  3542 non-null   int64
 6   data        3542 non-null   object
 7   hora        3542 non-null   object
 8   dataHora    3542 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 249.2+ KB

In [7]:

df2.query("(linha=='770') and (velocidade!=0)")

,ordem,linha,empresa,latitude,longitude,velocidade,data,hora,dataHora
548,D17163,770,Auto Viação Palmares Ltda,-22.88951,-43.55983,29,02/06/2022,20:18:56,2022-06-02 20:18:56
1523,D17151,770,Auto Viação Palmares Ltda,-22.89205,-43.55928,13,02/06/2022,20:22:50,2022-06-02 20:22:50
2109,D17167,770,Auto Viação Palmares Ltda,-22.86274,-43.44089,15,02/06/2022,20:23:12,2022-06-02 20:23:12
2110,D17167,770,Auto Viação Palmares Ltda,-22.86274,-43.44089,15,02/06/2022,20:23:12,2022-06-02 20:23:12
2364,D17153,770,Auto Viação Palmares Ltda,-22.86118,-43.54127,13,02/06/2022,20:23:17,2022-06-02 20:23:17
2366,D17153,770,Auto Viação Palmares Ltda,-22.86118,-43.54127,13,02/06/2022,20:23:17,2022-06-02 20:23:17
2422,D17165,770,Auto Viação Palmares Ltda,-22.87583,-43.55489,27,02/06/2022,20:23:18,2022-06-02 20:23:18
2423,D17179,770,Auto Viação Palmares Ltda,-23.00201,-43.36481,30,02/06/2022,20:23:18,2022-06-02 20:23:18
2425,D17165,770,Auto Viação Palmares Ltda,-22.87583,-43.55489,27,02/06/2022,20:23:18,2022-06-02 20:23:18
2426,D17179,770,Auto Viação Palmares Ltda,-23.00201,-43.36481,30,02/06/2022,20:23:18,2022-06-02 20:23:18
2705,D17171,770,Auto Viação Palmares Ltda,-22.85835,-43.46811,49,02/06/2022,20:23:23,2022-06-02 20:23:23
3122,D17159,770,Auto Viação Palmares Ltda,-22.91703,-43.60802,1,02/06/2022,20:23:31,2022-06-02 20:23:31
3165,D17161,770,Auto Viação Palmares Ltda,-22.86586,-43.42352,12,02/06/2022,20:23:32,2022-06-02 20:23:32
3405,D17191,770,Auto Viação Palmares Ltda,-22.91743,-43.68434,17,02/06/2022,20:23:44,2022-06-02 20:23:44
3407,D17191,770,Auto Viação Palmares Ltda,-22.91743,-43.68434,17,02/06/2022,20:23:44,2022-06-02 20:23:44