<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Pré-Processamento</h1>

In [2]:
## Dataframe Origenal
df = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
df

       ordem linha  latitude  longitude  velocidade             dataHora
0     D13252   756 -22.86906  -43.59682          68  05-26-2022 03:54:49
1     D13150   936 -22.87578  -43.41877           0  05-26-2022 06:47:15
2     B32831   945 -22.81654  -43.39439           0  05-26-2022 07:42:57
3     B63068   942 -22.86776  -43.25876           0  05-26-2022 07:45:58
4     B31103   483 -22.80454  -43.31017           0  05-26-2022 07:48:34
...      ...   ...       ...        ...         ...                  ...
3502  B71004   455 -22.94326  -43.18050           1  05-26-2022 18:21:59
3503  B71075   457 -22.89527  -43.27436           0  05-26-2022 18:21:59
3504  B71149   457 -22.88332  -43.30018          25  05-26-2022 18:22:00
3505  B71138   239 -22.91236  -43.17634           0  05-26-2022 18:22:01
3506  B71001   455 -22.90527  -43.19113          18  05-26-2022 18:22:02

[3507 rows x 6 columns]

In [3]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

In [4]:
#NOVO DATAFRAME
ordem=df['ordem']
ordemslice=df['ordem'].str.slice(1,4)

df2= pd.DataFrame(list(zip(ordem,ordemslice)),columns=['OrdemOnibus','CodEmpr'])

df2['Empresa'] = [
                  "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
       
    
    
    
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                  
                
                                    
                  
                  else "BRT Rio S.A"  for s in df2['CodEmpr']] 
df2

# The scope of these changes made to
# pandas settings are local to with statement.
#with pd.option_context('display.max_rows', None,
#                      'display.max_columns', None,
#                       'display.precision', 3,
#                      ):
#   print(df2)

     OrdemOnibus CodEmpr                 Empresa
0         D13252     132  Transportes Barra Ltda
1         D13150     131  Transportes Barra Ltda
2         B32831     328             BRT Rio S.A
3         B63068     630             BRT Rio S.A
4         B31103     311             BRT Rio S.A
...          ...     ...                     ...
3502      B71004     710             BRT Rio S.A
3503      B71075     710             BRT Rio S.A
3504      B71149     711             BRT Rio S.A
3505      B71138     711             BRT Rio S.A
3506      B71001     710             BRT Rio S.A

[3507 rows x 3 columns]