<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Pré-Processamento</h1>

In [2]:
df = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
df

       ordem linha  latitude  longitude  velocidade             dataHora
0     D13009   746 -22.87641  -43.41989           0  05-10-2022 04:52:25
1     D13214   790 -22.88002  -43.35820           0  05-10-2022 05:45:59
2     B10027   328 -22.83908  -43.24094           5  05-10-2022 07:05:14
3     A48056   202 -22.99045  -43.25235           0  05-10-2022 07:40:29
4     B32606   298 -22.81717  -43.39352           0  05-10-2022 08:44:02
...      ...   ...       ...        ...         ...                  ...
3407  B11506   665 -22.91543  -43.23212          26  05-10-2022 14:24:00
3408  B11518   650 -22.89669  -43.25681           0  05-10-2022 14:24:00
3409  B11520   665 -22.81503  -43.29785           5  05-10-2022 14:24:00
3410  B11560   908 -22.88049  -43.32314          22  05-10-2022 14:24:00
3411  B71108   457 -22.88294  -43.29928           0  05-10-2022 14:24:01

[3412 rows x 6 columns]

In [3]:
df.columns

Index(['ordem', 'linha', 'latitude', 'longitude', 'velocidade', 'dataHora'], dtype='object')

In [4]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)