<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Criando um Dataframe Parcial
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,C47748,554,Viação Redentor Ltda,-22.95285,-43.35099,0,2022-06-06 00:51:36,2022-06-05 21:51:36-03:00
1,D13251,878,Transportes Barra Ltda,-22.88028,-43.35693,0,2022-06-06 04:48:30,2022-06-06 01:48:30-03:00
2,B11528,908,Viação Vila Real S/A,-22.85869,-43.37135,0,2022-06-06 05:25:53,2022-06-06 02:25:53-03:00
3,C30181,565,Transportes Futuro Ltda,-22.95147,-43.34877,0,2022-06-06 05:50:22,2022-06-06 02:50:22-03:00
4,D53574,397,Transportes Campo Grande Ltda,-22.90198,-43.55525,60,2022-06-06 08:40:53,2022-06-06 05:40:53-03:00
...,...,...,...,...,...,...,...,...
3493,B71077,457,Viação Verdun S/A,-22.98685,-43.19065,2,2022-06-06 19:03:21,2022-06-06 16:03:21-03:00
3494,B71020,455,Viação Verdun S/A,-22.90307,-43.26888,7,2022-06-06 19:03:22,2022-06-06 16:03:22-03:00
3495,B71112,247,Viação Verdun S/A,-22.90975,-43.18846,0,2022-06-06 19:03:23,2022-06-06 16:03:23-03:00
3496,B71143,247,Viação Verdun S/A,-22.90522,-43.29142,0,2022-06-06 19:03:23,2022-06-06 16:03:23-03:00
3497,B71067,457,Viação Verdun S/A,-22.90178,-43.28055,0,2022-06-06 19:03:24,2022-06-06 16:03:24-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfFinal= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,C47748,554,Viação Redentor Ltda,-22.95285,-43.35099,0,21:51:36,05/06/2022
1,D13251,878,Transportes Barra Ltda,-22.88028,-43.35693,0,01:48:30,06/06/2022
2,B11528,908,Viação Vila Real S/A,-22.85869,-43.37135,0,02:25:53,06/06/2022
3,C30181,565,Transportes Futuro Ltda,-22.95147,-43.34877,0,02:50:22,06/06/2022
4,D53574,397,Transportes Campo Grande Ltda,-22.90198,-43.55525,60,05:40:53,06/06/2022
...,...,...,...,...,...,...,...,...
3493,B71077,457,Viação Verdun S/A,-22.98685,-43.19065,2,16:03:21,06/06/2022
3494,B71020,455,Viação Verdun S/A,-22.90307,-43.26888,7,16:03:22,06/06/2022
3495,B71112,247,Viação Verdun S/A,-22.90975,-43.18846,0,16:03:23,06/06/2022
3496,B71143,247,Viação Verdun S/A,-22.90522,-43.29142,0,16:03:23,06/06/2022
3497,B71067,457,Viação Verdun S/A,-22.90178,-43.28055,0,16:03:24,06/06/2022

In [5]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3498 entries, 0 to 3497
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3498 non-null   object
 1   linha       3498 non-null   object
 2   empresa     3498 non-null   object
 3   latitude    3498 non-null   float64
 4   longitude   3498 non-null   float64
 5   velocidade  3498 non-null   int64
 6   horario     3498 non-null   object
 7   data        3498 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 218.8+ KB

In [6]:
dfFinal['linha'].unique()

array(['554', '878', '908', '565', '397', '645', '805', '803', '770',
       '461', '343', '102', '794', '790', '2335', '557', '550', '472',
       '621', '448', '583', '2307', '615', '919', '774', '926', '474',
       '292', '341', '298', '880', '606', '946', '900', '399', '393',
       '394', '920', '383', '777', '2343', '793', '296', '220', '2345',
       '600', '2111', '679', '2336', '636', '107', '731', '711', '321',
       '361', 'SV474', '350', '498', '473', '209', '476', '457', '688',
       '812', '441', 'SP513', '613', '210', '471', '275', '363', '905',
       '355', '849', '821', '249', '460', '756', '665', '745', '483',
       '771', '342', '338', '539', '302', '2344', '315', '324', '2342',
       '607', '685', '309', '638', '634', '822', '463', '2310', '783',
       '108', '680', '492', '2339', '639', '630', '712', '110', '846',
       '893', '007', '945', '2804', '891', '2303', '629', '866', '852',
       '867', '2334', '752', '863', '804', 'SVA685', '746', 'SV866',
       '864', '853', '810', '881', '833', '232', '841', '2110', '2803',
       '918', '112', '922', '2802', '898', '766', '100', '390', '627',
       '415', '840', '917', '795', '601', '432', '691', '329', '663',
       '884', '623', '721', '869', '497', '838', '628', '265', '819',
       '416', '362', '624', '786', '326', '426', '323', '328', '386',
       '650', '507', '2381', '2305', '859', '817', '014', '861', '696',
       '133', '105', 'SP841', '895', '325', '775', '455', 'SV774', '422',
       '202', 'SV917', '555', '104', 'SV232', '538', '837', '371', '412',
       '384', '897', '2338', '779', '553', '802', '616', '687', '335',
       '622', '312', '950', '313', '625', '883', '843', '871', '851',
       '2383', '940', '925', '217', '484', '247', 'SP265', '835', '409',
       '2337', '906', '608', '834', '845', '892', '485', 'SV606', '548',
       '723', '910', '117', '913', 'SP404', '847', '923', '369', '327',
       '836', '759', '848', '842', '868', '870', '433', '610', '692',
       '801', '954', '368', '875', '2114', 'SP803', '306', '614', '778',
       '552', '862', '611', '936', '953', '348', 'SV790', '379', '353',
       'SP613', '932', '844', '201', '829', '584', '378', '238', '239',
       '300'], dtype=object)

In [7]:
## Filtro para o daframe das Velocidades

#dfFinal.query("(linha=='770') and (velocidade!=0)")
#df770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])

linha770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])
L770=linha770.rename(columns={'velocidade':'Linha770'})

df_excel=L770
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L770.xlsx', index = False, header=True)

In [8]:
linha554=(dfFinal.loc[(dfFinal['linha']=="554") & (dfFinal['velocidade']!=0),['velocidade']])
L554=linha554.rename(columns={'velocidade':'Linha554'})

df_excel=L554
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L554.xlsx', index = False, header=True)

In [9]:
linha878=(dfFinal.loc[(dfFinal['linha']=="878") & (dfFinal['velocidade']!=0),['velocidade']])
L878=linha878.rename(columns={'velocidade':'Linha878'})

df_excel=L878
df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L878.xlsx', index = False, header=True)