<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Criando um Dataframe Parcial
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,C13100,338,Transportes Barra Ltda,-22.88101,-43.35817,0,2022-06-08 01:27:43,2022-06-07 22:27:43-03:00
1,C30314,557,Transportes Futuro Ltda,-22.95024,-43.34843,0,2022-06-08 04:16:55,2022-06-08 01:16:55-03:00
2,B27064,905,Caprichosa Auto Ônibus Ltda,-22.81728,-43.30228,0,2022-06-08 06:12:16,2022-06-08 03:12:16-03:00
3,A63526,107,Gire Transportes Ltda,-22.86730,-43.25880,1,2022-06-08 07:52:49,2022-06-08 04:52:49-03:00
4,D87785,2307,Expresso Pégasso Ltda,-22.91829,-43.60832,0,2022-06-08 08:14:41,2022-06-08 05:14:41-03:00
...,...,...,...,...,...,...,...,...
3521,B11514,908,Viação Vila Real S/A,-22.87288,-43.33850,0,2022-06-08 20:34:04,2022-06-08 17:34:04-03:00
3522,B11503,908,Viação Vila Real S/A,-22.86962,-43.31010,37,2022-06-08 20:34:05,2022-06-08 17:34:05-03:00
3523,B11548,378,Viação Vila Real S/A,-22.89584,-43.21295,26,2022-06-08 20:34:05,2022-06-08 17:34:05-03:00
3524,B11572,378,Viação Vila Real S/A,-22.90137,-43.17659,0,2022-06-08 20:34:05,2022-06-08 17:34:05-03:00
3525,B11624,650,Viação Vila Real S/A,-22.87687,-43.31718,0,2022-06-08 20:34:05,2022-06-08 17:34:05-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfFinal= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,C13100,338,Transportes Barra Ltda,-22.88101,-43.35817,0,22:27:43,07/06/2022
1,C30314,557,Transportes Futuro Ltda,-22.95024,-43.34843,0,01:16:55,08/06/2022
2,B27064,905,Caprichosa Auto Ônibus Ltda,-22.81728,-43.30228,0,03:12:16,08/06/2022
3,A63526,107,Gire Transportes Ltda,-22.86730,-43.25880,1,04:52:49,08/06/2022
4,D87785,2307,Expresso Pégasso Ltda,-22.91829,-43.60832,0,05:14:41,08/06/2022
...,...,...,...,...,...,...,...,...
3521,B11514,908,Viação Vila Real S/A,-22.87288,-43.33850,0,17:34:04,08/06/2022
3522,B11503,908,Viação Vila Real S/A,-22.86962,-43.31010,37,17:34:05,08/06/2022
3523,B11548,378,Viação Vila Real S/A,-22.89584,-43.21295,26,17:34:05,08/06/2022
3524,B11572,378,Viação Vila Real S/A,-22.90137,-43.17659,0,17:34:05,08/06/2022
3525,B11624,650,Viação Vila Real S/A,-22.87687,-43.31718,0,17:34:05,08/06/2022

In [5]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3526 non-null   object
 1   linha       3526 non-null   object
 2   empresa     3526 non-null   object
 3   latitude    3526 non-null   float64
 4   longitude   3526 non-null   float64
 5   velocidade  3526 non-null   int64
 6   horario     3526 non-null   object
 7   data        3526 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 220.5+ KB

In [6]:
dfFinal['linha'].unique()

array(['338', '557', '905', '107', '2307', '636', '432', '801', '553',
       '386', '665', '108', '483', '954', '953', '368', '2803', '920',
       '302', '112', '007', '550', '803', '600', '795', '804', '341',
       '399', '565', '2111', '298', '745', '181', '821', 'SP805', '201',
       '926', '936', '309', '476', '892', '639', '292', '900', '790',
       '393', '102', '313', '363', '2114', '460', '810', '908', '840',
       '2802', '472', '945', '875', '2332', '433', '315', '869', '910',
       '2336', '771', '638', '326', '863', '461', 'SV774', '918', '014',
       '474', '412', '2339', '394', '766', '629', '833', '416', '426',
       '473', '2303', '630', '383', '615', '507', '685', '777', '691',
       '584', '105', '606', '415', '539', '774', '838', '324', '663',
       '110', '891', '852', 'SP404', '835', '846', '2381', '323', '919',
       '247', '770', '645', '355', '328', '342', '497', '721', '484',
       '884', '822', '232', '2110', '627', '463', '793', '712', '794',
       '2335', '624', '492', '397', '350', '209', '746', '756', '607',
       '862', '265', '812', '608', '2338', '2342', '583', '731', '369',
       '696', '249', '866', '202', '778', '775', '878', '498', '779',
       '343', '853', '849', '711', '448', '306', '117', '348', '485',
       '922', '881', '325', '422', '455', '917', '379', '692', '335',
       '861', '312', '829', '329', '457', '390', 'SV790', '384', '940',
       '2334', '100', '613', '623', '650', '628', '361', '300', '296',
       'LECD36', '238', '104', '883', 'SP841', '220', '950', 'SP613',
       'SP550', '2345', '2344', '634', 'SV474', '538', 'SP692', '409',
       '554', 'SP803', '868', '880', '942', '688', '555', '321', '217',
       '802', '610', '2337', '371', '362', '679', '622', '621', '625',
       '210', '2804', '864', 'SV917', '841', '895', '378', 'SP265', '843',
       '836', '867', '871', '616', '2343', '906', '897', 'SP513', '842',
       '851', '837', '687', '913', '275', '845', '783', '805', 'SVA665',
       'SV866', '548', '2112', '2383', '239', '601', '932', '759', '2310',
       '552', '614', '848', 'SV606', '893', '443', '611', '693', '859',
       '847', '817', '834', '870', '558', '923', '819', '752', 'SPC613',
       'SV363', '006', '946', '844', '925', '133', '353', '786', 'SV232',
       '327', 'SV779', 'SBP601', '380', '944', 'SP801', 'SP361'],
      dtype=object)

<h1>Construção Dataframe Velocidade</h1>

In [7]:
## Filtro para o daframe das Velocidades

#dfFinal.query("(linha=='770') and (velocidade!=0)")
#df770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])

#Export Excel
#df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\L770.xlsx', index = False, header=True)

#Filtros de Velocidade Por Linha

linha770=(dfFinal.loc[(dfFinal['linha']=="770") & (dfFinal['velocidade']!=0),['velocidade']])
L770=linha770.rename(columns={'velocidade':'Linha770'})

#Conversão dos Filtros para lista

X1=L770['Linha770'].tolist()

#Dataframe Velocidade
df = pd.DataFrame({
    'LINHA770': pd.Series(X1,dtype='float64')
})
df_velocidade_linhas=df.replace(np.nan, 0)

df_velocidade_linhas

    LINHA770
0       33.0
1       53.0
2       53.0
3       52.0
4       40.0
5       29.0
6       29.0
7        1.0
8       14.0
9       14.0
10      59.0
11       3.0
12      59.0
13      24.0
14      15.0
15      24.0
16      15.0
17      39.0
18      49.0
19       2.0
20       2.0

In [8]:
X1

[33,
 53,
 53,
 52,
 40,
 29,
 29,
 1,
 14,
 14,
 59,
 3,
 59,
 24,
 15,
 24,
 15,
 39,
 49,
 2,
 2]

<h1>Implementação Gráfico de X-BARRA E R</h1>

In [9]:
# #Teste Ousado 
# import matplotlib.pyplot as plt
# import statistics

# data= pd.read_excel(r"C:\Users\Gabriel\Desktop\Mestrado\ousadia.xlsx")  

# #substitui nan por zero;
# dataf= data.replace(np.nan, 0)

# x = np.array(dataf[['X1','X2','X3','X4']])

# # Define list variable for groups means
# x_bar = []

# # Define list variable for groups ranges
# r = [] 

# # Get and append groups means and ranges
# for group in x:
#     x_bar.append(group.mean())
#     r.append(group.max() - group.min())
    
# # Plot x-bar and R charts
# fig, axs = plt.subplots(2, figsize=(15,15))

# # x-bar chart
# axs[0].plot(x_bar, linestyle='-', marker='o', color='black')
# axs[0].axhline((statistics.mean(x_bar)+0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)-0.577*statistics.mean(r)), color='red', linestyle='dashed')
# axs[0].axhline((statistics.mean(x_bar)), color='blue')
# axs[0].set_title('x-bar Chart')
# axs[0].set(xlabel='Group', ylabel='Mean')

# # R chart
# axs[1].plot(r, linestyle='-', marker='o', color='black')
# axs[1].axhline((2.574*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((0*statistics.mean(r)), color='red', linestyle='dashed')
# axs[1].axhline((statistics.mean(r)), color='blue')
# axs[1].set_ylim(bottom=0)
# axs[1].set_title('R Chart')
# axs[1].set(xlabel='Group', ylabel='Range')

# # Validate points out of control limits for x-bar chart
# i = 0
# control = True
# for group in x_bar:
#     if group > statistics.mean(x_bar)+0.577*statistics.mean(r) or group < statistics.mean(x_bar)-0.577*statistics.mean(r):
#         print('Group', i, 'out of mean control limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')
    
# # Validate points out of control limits for R chart
# i = 0
# control = True
# for group in r:
#     if group > 2.574*statistics.mean(r):
#         print('Group', i, 'out of range cotrol limits!')
#         control = False
#     i += 1
# if control == True:
#     print('All points within control limits.')