<h1>Biblioteca</h1>

In [1]:
import pandas as pd
import numpy as np

<h1>Funções Coringas</h1>

In [2]:
##Exportação do dataframe em Python
##df_excel=df
##df_excel.to_excel (r'C:\Users\Gabriel\Desktop\Mestrado\export_dataframe.xlsx', index = False, header=True)

<h1>Pré-Processamento</h1>

In [11]:
## Dataframe Origenal
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

#Novo Dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']

datastring=json['dataHora'].str.slice(0,10).astype('datetime64[ns]')
data=datastring.dt.strftime('%d/%m/%Y')

hora=json['dataHora'].str.slice(11,19)

df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,data,hora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','data','hora'])

df2

,ordem,linha,empresa,latitude,longitude,velocidade,data,hora
0,C47838,613,Viação Redentor Ltda,-22.88006,-43.35704,2,02/06/2022,04:35:46
1,B27136,629,Caprichosa Auto Ônibus Ltda,-22.81701,-43.30217,6,02/06/2022,05:19:05
2,C47607,368,Viação Redentor Ltda,-22.95253,-43.34879,0,02/06/2022,06:05:16
3,C47942,2110,Viação Redentor Ltda,-22.88035,-43.35725,0,02/06/2022,08:40:31
4,D13117,790,Transportes Barra Ltda,-22.88036,-43.35741,0,02/06/2022,09:35:40
...,...,...,...,...,...,...,...,...
3530,B11669,665,Viação Vila Real S/A,-22.90029,-43.22330,0,02/06/2022,18:20:01
3531,B11562,665,Viação Vila Real S/A,-22.89311,-43.23933,14,02/06/2022,18:20:02
3532,B11583,300,Viação Vila Real S/A,-22.83580,-43.26061,58,02/06/2022,18:20:02
3533,B11617,665,Viação Vila Real S/A,-22.81426,-43.29372,16,02/06/2022,18:20:03
3534,B11621,778,Viação Vila Real S/A,-22.85361,-43.35143,0,02/06/2022,18:20:03

In [4]:


df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3529 entries, 0 to 3528
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ordem       3529 non-null   object
 1   linha       3529 non-null   object
 2   empresa     3529 non-null   object
 3   latitude    3529 non-null   float64
 4   longitude   3529 non-null   float64
 5   velocidade  3529 non-null   int64
 6   data        3529 non-null   datetime64[ns]
 7   hora        3529 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 220.7+ KB

In [12]:

df2.query("(linha=='770') and (velocidade!=0)")

,ordem,linha,empresa,latitude,longitude,velocidade,data,hora
1506,D17165,770,Auto Viação Palmares Ltda,-22.87700,-43.55449,30,02/06/2022,18:18:48
1870,D17134,770,Auto Viação Palmares Ltda,-22.90255,-43.56461,24,02/06/2022,18:19:10
1947,D17167,770,Auto Viação Palmares Ltda,-22.88420,-43.55690,28,02/06/2022,18:19:12
1984,D17115,770,Auto Viação Palmares Ltda,-22.86096,-43.45216,33,02/06/2022,18:19:13
2212,D17165,770,Auto Viação Palmares Ltda,-22.87474,-43.55408,23,02/06/2022,18:19:18
2301,D17151,770,Auto Viação Palmares Ltda,-22.86313,-43.41435,51,02/06/2022,18:19:20
2427,D17170,770,Auto Viação Palmares Ltda,-22.83226,-43.34958,23,02/06/2022,18:19:22
2493,D17171,770,Auto Viação Palmares Ltda,-22.83058,-43.34843,16,02/06/2022,18:19:23
2654,D17163,770,Auto Viação Palmares Ltda,-22.85998,-43.50546,43,02/06/2022,18:19:26
2863,D17193,770,Auto Viação Palmares Ltda,-22.90236,-43.56823,20,02/06/2022,18:19:31
3305,D17167,770,Auto Viação Palmares Ltda,-22.88475,-43.55695,3,02/06/2022,18:19:42
3338,D17115,770,Auto Viação Palmares Ltda,-22.86112,-43.45121,30,02/06/2022,18:19:43

In [17]:
x=df2['hora']
x

0       04:35:46
1       05:19:05
2       06:05:16
3       08:40:31
4       09:35:40
          ...
3530    18:20:01
3531    18:20:02
3532    18:20:02
3533    18:20:03
3534    18:20:03
Name: hora, Length: 3535, dtype: object